<main class="home">
  <section class="hero">
    <div class="hero__content">
      <h1>Collect Feedback,<br>Unlock Ideas</h1>
      <p>Create and share surveys in minutes - from team events to
      workplace culture. Collect opinions, engage your audience,
      and turn feedback into action.</p>
      <button class="btn-primary">New survey</button>
    </div>
    <div class="hero__image">
      <img src="assets/img/logo_hero.png" alt="Poll App Hero" />
    </div>
  </section>

  <section class="surveys">
    <h2>Your surveys</h2>
    @if (isLoading()) {
      <p>Loading...</p>
    } @else {
      <app-ending-soon-section [surveys]="endingSoon()" />
      <app-survey-list [surveys]="surveys()" />
    }
  </section>
</main>